*{
    font-family: "poppins", sans-serif;
}

.search-bar-background2 {
    
    width: 1204px;
    height: 160px;
    left: 46px;
    top: 221px;

    background: #0663A6;
    border-radius: 50px;
}

.search-form-1 {
    position: absolute;
    width: 373px;
    height: 46px;
    left: 80px;
    top: 278px;
    
    background: #FFF9F9;
    border-radius: 50px;
}

input {
    display: inline;
    border-radius: 50px;
    width: 373px;
    height: 46px;
    margin-right: 60px;
    border: none;
    text-align: center;
   
}

.button1 {
    background: #1CD239;
    border-radius: 50px;
    width: 227px;
    height: 47px;
    color: white;
    font-size: 24px;
    text-align: center;
}
.form-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 160px;
    
}
.background-color{
    background: #E5E5E5;
    
}
.button1 p{
    margin-top: 5px;
    
}