* {
    font-family: "Poppins", sans-serif;
}

.header-1 {
    background-color: #1C7FF3;
    line-height: 20px;
    height: 46px;
    width: 1280px;
}

.user-account {
    float: right;
    color: white;
    margin-right: 70px;
    font-size: 16px;
}

.logo {
    display: inline;
}

.veterinarian-account {
    float: right;
    color: white;
    margin-right: 90px;
    font-size: 16px;
}

ul .horizontal {
    display: inline;
    list-style: none;
}

ul li a {
    text-decoration: none;
}