.title{
   color: #0E57AD;
    text-align: center;
}
.parag{
text-align: center;

}
body{
font-family:poppins;
font-weight: bold ;
margin: 0;

}
img{
    margin-left: 90px;
    display: block;
}
.flex-container {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    width: 1000px;
    height: 1000px;
  }

.doc1 img{
    border-radius: 1000px;
}
.doc1 p{
    text-align: center;
}
.doc2 img{
    border-radius: 1000px;
}
.doc2 p{
    text-align: center;
}
.doc3 img{
    border-radius: 1000px;
}
.doc3 p{
    text-align: center;
}