.handles{
    color: blue;
    text-align:centre;
    margin-left:550px;
}
.customers{
    color: blue;
}
.middle{
    line-height: 50px;
    text-align: center;
}
.information{
    font-weight: bold;
    text-align: center
    }

.Details{
    display: inline;
    margin-left: 200px;
    text-align: center;
    justify-content: space-between;
    
}
.a{
    display: inline;
}
.b{
    display: inline;
}
.a1{
    display: block;
}
.mail{
    margin-right: 46px;
    margin-top: -50px;
}